name: Build - Linux x64

on:
  push:
    branches: [ "master" ]
    paths-ignore:
      - 'README.md'
      - 'docs/**'
  pull_request:
    branches: [ "master" ]
    paths-ignore:
      - 'README.md'
      - 'docs/**'

env:
  CARGO_TERM_COLOR: always
  CARGO_PROFILE_RELEASE_LTO: fat

jobs:
  build:
    strategy:
      matrix:
        arch: [x86_64, aarch64]

    name: Linux-${{ matrix.arch }}
    runs-on: ${{ matrix.arch == 'x86_64' && 'ubuntu-latest' || 'ubuntu-24.04-arm' }}

    steps:
    - uses: actions/checkout@v4
    - name: Update package repos
      run: sudo apt-get -y update
    - name: Install prerequisites
      run: sudo apt-get -y install libsdl2-dev python3
    - name: Fetch submodules
      run: git submodule update --init --recursive
    - name: Build release
      run: cargo build --verbose --release --all
    - name: GUI Create packaging directory
      run: mkdir snow-gui
    - name: GUI Gather files
      run: cp target/release/snow_frontend_egui snow-gui/snowemu
    - name: GUI Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: 'Snow Linux (${{ matrix.arch }})'
        if-no-files-found: error
        path: snow-gui/*
