name: Build - Windows

on:
  push:
    branches: [ "master", "arm-ci" ]
    paths-ignore:
      - 'README.md'
      - 'docs/**'
  pull_request:
    branches: [ "master" ]
    paths-ignore:
      - 'README.md'
      - 'docs/**'

env:
  CARGO_TERM_COLOR: always
  # Workaround for 'the SSL certificate is invalid; class=Ssl (16)'
  CARGO_NET_GIT_FETCH_WITH_CLI: true
  CARGO_PROFILE_RELEASE_LTO: fat

jobs:
  build:
    runs-on: windows-11-arm
    defaults:
      run:
        shell: msys2 {0}
    strategy:
      matrix:
        msystem: ['MINGW64', 'CLANGARM64']
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup MSYS2
      uses: msys2/setup-msys2@v2
      with:
        release: true
        update: true
        msystem: ${{ matrix.msystem }}
        cache: true
        install: >-
          git
        pacboy: >-
          rust:p
          SDL2:p
          pkg-config:p
    - name: Build release
      run: |
        export RUSTFLAGS="-C target-feature=+crt-static"
        cargo build --verbose --release --all -F sdl2-static
    - name: GUI Create packaging directory
      run: mkdir snow-gui
    - name: GUI Gather files
      run: cp 'target/release/snowemu.exe' snow-gui/
    - name: Architecture Friendly Name
      id: arch-name
      run: |
        if [[ ${{ matrix.msystem }} == 'MINGW64' ]]; then
          arch="x86_x64"
        elif [[ ${{ matrix.msystem }} == 'CLANGARM64' ]]; then
          arch="ARM64"
        fi
        echo "arch=$arch" >> "$GITHUB_OUTPUT"
    - name: GUI Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: 'Snow Windows (${{ steps.arch-name.outputs.arch }})'
        if-no-files-found: error
        path: snow-gui/*
